<app-shared-card [showFooter]="false">
  <h4 class="header">
    {{ "Users:" | uppercase }}
    <button class="btn btn-info"
      (click)="chatService.refresh()">
      Refresh
    </button>
  </h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let user of chatService.userList$ | async"
    >
      <img
        [src]="user.avatar"
        width="40"
        class="img-thumbnail rounded-circle"
      />
      {{ user.username }}
    </li>
  </ul>
</app-shared-card>
