:host{
  display:block;
  height:100vh;
  background: url(https://byucougars.com/dl//sites/default/files/styles/story_images/public/Regular_Photo/Katoa%2C%20Lopini%20_W1_6053.jpg?h=1329bd89&amp;itok=WjMeRzh9);
}
